/*
  Post
*/
.post-title {
  font-size: 2em;
  font-weight: bold;
  margin: 18px 0;
}

.post-meta {
  font-size: 1em;
  margin: 18px 0;
  span:last-child {
    margin-right: 0;
  }
  span {
    margin-right: 10px;
    color: #7f8c8d;
  }
  a {
    color: #7f8c8d;
  }
  a:hover {
    color: #42b983;
  }
}

.post-date, .post-author {
  color: #7f8c8d;
}

.post-edit {
  display: inline-block;
  float: right;
}

.post-content {
  line-height: 2;
  transition: all .2s ease;
}

/*
  Course list
*/

.course-list {
  width: 25%;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin: 0;

  li {
    border-right: solid 1px #d4d4d5;

    a {
      display: block;
      padding: 10px 20px;
    }
    a:hover {
      color: #34495e;
    }
  }
  li.active {
    font-weight: bold;
    border: solid 1px #d4d4d5;
    border-right: none;
  }
}

.course-desc {
  width: 65%;
  display: inline-block;
  padding-left: 30px;
  line-height: 1.5em;
}

.course-content {
  display: none;
  position: relative;

  &.active {
    display: block;
  }
}

.course-add {
  padding: 10px 20px;
  font-size: .9em;
}

.course-edit {
  position: absolute;
  width: 100px;
  right: -130px;
  padding: 0;

  li {
    list-style: none;
    line-height: 2em;
  }
}

/*
  Form
*/

.input-group {
  display: block;
  margin-bottom: .5em;

  label {
    display: block;
  }

  input {
    box-sizing: border-box;
  }

  input[type=text], input[type=password] {
    padding: 0.6em 1em;
    border-radius: .2em;
    border: 1px solid rgba(39,41,43,.15);
    color: rgba(0, 0, 0, .5);
    outline: 0;
    width: 100%;
  }

  input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    border: solid 1px #d4d4d5;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: .6em 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: .3em;
  border: none;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, .6);
}

.btn.btn-primary {
  color: #fff;
  background-color: #5bbd72;

  &:hover {
    background-color: #66c17b;
  }
}

/* workspace */

.workspace-header {
  h3 {
    margin: 0;
    display: inline-block;
  }

  hr {
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,.12) 0,rgba(0,0,0,0) 100%);
    height: 1px;
    border: 0;
  }
}

.workspace-list {
  list-style: none;

  h4 {
    margin: 0;
  }
}

.workspace-item {
  float: left;
  margin: 0 20px 10px 0;
  border: solid 1px #eee;
  border-radius: 5px;
  width: 265px;
  height: 135px;
  animation: zoom .5s ease-out;
  transition: box-shadow ease-in-out 218ms,transform 218ms ease-in-out;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
}

.workspace-item:hover {
  box-shadow: 0 7px 21px rgba(0,0,0,.15);
}

.workspace-nav {
  width: 100%;
  background-color: #eee;
  border-bottom: rgba(0, 0, 0, .8);

  ul {
    list-style: none;
    margin: 0;
    padding-left: 210px;
  }

  li {
    padding: 20px 20px;
    display: inline-block;
  }
}