extends layout/default

append content
    #workspace-wrap
        nav.workspace-nav
            ul
                if (session.user.role === "Student")
                    li
                        a(href="#") 作业上传
                    li
                        a(href="#") 课件下载
                else
                    li
                        a(href="#") 布置作业
                    li
                        a(href="#") 课件上传
        .assignment-wrap.panel-group
            each assignment in assignments
                .panel-heading
                    h4.panel-title
                        a(href="#" + assignment._id)= assignment.title
                .panel-collapse(id=assignment._id)
                    .panel-body= assignment.description
                    .panel-foot
                        .btn.btn-default 选择文件
                        .btn.btn-primary 上传
