extends layout/default

append content
    #workspace-wrap
        nav.workspace-nav
            ul
                if (session.user.role === "Student")
                    li
                        a(href="#") 作业上传
                    li
                        a(href="#") 课件下载
                else
                    li
                        a(href="#") 作业管理
                    li
                        a(href="#") 课件管理
        #assignment-wrap.panel-group
            if (assignments.length > 0)
                each assignment in assignments
                    .panel
                        .panel-heading
                            h3.panel-title
                                a(href="javascript:void(0)", data-action="toggle", data-target="#" + assignment._id)= assignment.title
                        .panel-collapse(id=assignment._id)
                            .panel-body
                                h4 提交截止时间
                                p= assignment.dueDateFormated
                                h4 最后期限
                                p= assignment.deadlineFormated
                                h4 说明
                                p= assignment.description
                            .panel-foot
                                .btn.btn-default.btn-small 选择文件
                                .btn.btn-primary.btn-small 上传
