extends layout/default

append content
    #workspace-wrap
        nav.workspace-nav
            ul
                li
                    a(href="javascript:void(0)", data-target="assignment") 作业上传
                li
                    a(href="javascript:void(0)", data-target="attachment") 课件下载
        #assignment-wrap
            .panel-group
                if (assignments.length > 0)
                    each assignment in assignments
                        - var now = new Date();
                        .panel
                            .panel-heading
                                h3.panel-title
                                    a(href="javascript:void(0)", data-action="toggle", data-target="#" + assignment.reference._id)= assignment.reference.title
                                if (assignment.complete)
                                    .assignment-status.success 已提交
                                else
                                    if (now < assignment.reference.dueDate)
                                        .assignment-status.warn 未提交
                                    else
                                        if (now < assignment.reference.deadline)
                                            .assignment-status.error 已超过截止时间，请在最后期限内将作业用邮件提交给老师和助教
                                        else
                                            .assignment-status.error 作业已过期
                            .panel-collapse(id=assignment.reference._id)
                                .panel-body
                                    h4 提交截止时间
                                    p= assignment.reference.dueDateFormated
                                    h4 最后期限
                                    p= assignment.reference.deadlineFormated
                                    h4 说明
                                    p= assignment.reference.description
                                if (now < assignment.reference.dueDate)
                                    .panel-foot
                                        form.assignment-upload(action="/assignment/upload", method="POST", enctype="multipart/form-data")
                                            input.is-hidden(type="text", name="assignment", value="" + assignment.reference._id)
                                            input.is-hidden(type="text", name="title", value="" + assignment.reference.title)
                                            input.btn.btn-default.btn-small(type="file", name="file")
                                            button.btn.btn-primary.btn-small(type="submit") 上传
