//Created by MForever78 on 15/10/10.

doctype html
html(lang="zh")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title 轻松家园
        link(rel="stylesheet", href="css/main.js")

    body
        h1 Hello World