extends layout/default

append content
    .post-wrap
        each news in newsList
            article
                .post-title
                    a(href=news.url)= news.title
                .post-meta
                    span.post-date= news.date
                    span.post-author= news.author.name
                .post-content!= news.content
