extends layout/default

append content
    #login-wrap
        form#login(action="/login", method="post")
            .input-group
                label(for="username") 用户名
                input#username(type="text", name="username", placeholder="Username")
            .input-group
                label(for="password") 密码
                input#password(type="password", name="password", placeholder="Password")
            .input-group
                label(for="remember")
                    input#remember(type="checkbox", name="remember")
                    span 记住我
            .input-group
                button#submit.btn.btn-primary 登入
                a.forget(href="#") 找回密码
        form#findpassword.is-hidden(action="/register/findpassword", method="post")
            .input-group
                label(for="studentid") 学号
                input(type="text", name="studentId", placeholder="Student ID")
            .input-group
                label(for="password") 姓名
                input(type="text", name="name", placeholder="Name")
            .input-group
                label(for="username") 用户名
                input(type="text", name="username", placeholder="Username")
            .input-group
                button#submit.btn.btn-primary 找回密码