extends layout/default

block content
    include include/header
    #login-wrap
        form#login(action="/login", method="post")
            .input-group
                label(for="username") 用户名
                input#username(type="text", name="username", placeholder="Username")
            .input-group
                label(for="password") 密码
                input#password(type="password", name="password", placeholder="Password")
            .input-group
                label(for="remember")
                    input#remember(type="checkbox", name="remember")
                    span 记住我
            .input-group
                button#submit.btn.btn-primary 登入