extends layout/default

append content
    #workspace-wrap
        #workspace-content-wrap
            header.workspace-header
                h3 选择课程
                hr
            ul.workspace-list
                if (courseList.length > 0)
                    each course in courseList
                        li.workspace-item(data-target="/workspace/" + session.user.role + "/course/" + course._id)
                            h4= course.name
                                if (session.user && session.user.role === "Teacher")
                                    li(data-action="close" data-target="" + course._id) 结课
