header#header
    a#brand(href="/")
        img#logo(src="/img/logo.png")
        span#title 轻松家园
    nav#navbar
        ul#main-nav
            li#nav-index.is-active
                a(href="/") 首页
            li#nav-course
                a(href="/course") 课程
            li#nav-login
                a(href="/login") 登入
