header#header
    a#brand(href="/")
        img#logo(src="/img/logo.png")
        span#title 轻松家园
    nav#navbar
        ul#main-nav
            li#nav-index.is-active
                a(href="/") 首页
            li#nav-course
                a(href="/course") 课程
            if (!session.user)
                li#nav-login
                    a(href="/login") 登入
                li#nav-register
                    a(href="/register") 注册
            else
                if (session.user.role === 'Teacher')
                    li#nav-write
                        a(href="/write") 撰写公告
                li#nav-workspace
                    a(href="/workspace") 工作区
                li#nav-logout
                    a(href="/logout") 登出
