//
   Created by MForever78 on 15/10/19.

doctype html
html(lang="zh")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title 轻松家园
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/main.min.css")

    body
        block content
        block script
            script(src="/js/jquery.min.js")
            script(src="/js/main.min.js")
